@import "tailwindcss";

@theme {
  --color-primary-btnClr: #323232;
  --color-primary-cardClr: #1f1f1f;
}

body {
  background-color: #0f0f0f !important;
  color: #ffffff !important;
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 20s linear infinite;
}
